numpy==1.26.4
wheel
ninja==1.11.1
pycocotools==2.0.7
Pillow==10.2.0
opencv-python==4.8.0.76
gdown==5.1.0
inference-gpu==0.10.0
transformers==4.40.2
num2words==0.5.13
flash-attn==2.5.7
python-dotenv==1.0.1
